<!--<div class="card" style="width: 18rem;">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="card-link">{{myobj}}</a>-->
<!--    <a href="#" class="card-link">{{myobj2}}</a>-->
<!--  </div>-->
<!--</div>-->

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
  <div class="left">
    <img src="../../../assets/img/ParisDescartes_batiment_droit-bis.png" alt="user" width="100">
    <h4>{{myobj2.nomUniv}}</h4>
    <p>{{myobj2.adresse}}</p>
  </div>

  <div class="right">
    <div class="info">
      <h1>Information</h1>
      <hr>
      <div class="info_data">
        <div class="data">
          <h4>Nombre de departement</h4>
          <h2>{{myobj}}</h2>
        </div>

      </div>
    </div>
    <hr>

    <div class="projects">
      <h4>Nombre des etudiants</h4>
      <h2>{{myobj2}}</h2>
      <div class="projects_data">


      </div>
    </div>

    <div class="social_media">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>

